@import "normalize";
@import "scrollbar";
@import "animation";
@import "templates/main/variables";

label,
input,
textarea {
  display: flex;
  flex: 1;
  border-radius: 5px;
  font-family: $mainFont;
  font-size: 14px;

}

textarea {
  padding: 15px;
  height: auto;
  min-height: 50px;
}

input, textarea {
  border: 2px solid #435f84;
  padding-top: 15px;
  padding-bottom: 15px;
}