@import "variables";

.view-details-field {
  margin-bottom: 0.938em;
  display: flex;
  flex-direction: column;
  gap: 0.125em;

  &:last-child {
    margin-bottom: 0;
  }
}

.view-details-field__title {
  text-transform: uppercase;
  font-family: $mainFont;
  color: $fontColor;
  font-size: 0.875em;
  font-weight: bold;
  line-height: 120%;
}

.view-details-field__value {
  word-break: break-word;
  font-family: $secondFont;
  font-size: 0.875em;

  a {
    text-decoration: none;
    color: #80b1f6;
  }
}

.view-skill-field {
  color: $fontColor;
  font-weight: bold;
  font-family: $secondFont;
  font-size: 0.875em;
  line-height: 120%;
  display: flex;
  padding: 0.313em 0;
}

.text-to-list-field__list {
  padding-left: 0.938em;
  gap: 0.625em;
  font-family: $mainFont;
  font-size: 0.875em;

  li {
    display: block;

    &:first-letter {
      text-transform: uppercase;
    }

    &:before {
      color: lighten($fontColor, 20%);
      content: '•';
      padding-right: 0.625em;
    }
  }
}

.view-employment-field {
  margin-bottom: 1.875em;

  &:last-child {
    margin-bottom: 0;
  }
}

.view-employment-field__row {
  display: flex;
  justify-content: space-between;
}

.view-employment-field__position,
.view-employment-field__company,
.view-education-field__education {
  color: $fontColor;
  font-weight: bold;
  font-family: $mainFont;
  line-height: 120%;
  margin-bottom: 0.313em;

  &:first-letter {
    text-transform: uppercase;
  }
}

.view-field__date {
  margin-bottom: 0.938em;
  color: lighten($fontColor, 30%);
  font-weight: 600;
  font-size: 0.75em;
  font-family: $mainFont;
}

