$borderColor: #efefef;
$border: 2px solid $borderColor;

$fontColor: #313335;
$colorMainDark: #33383d;
$colorMainLight: #5477a4;

$mainFont: 'Open Sans', sans-serif;
$secondFont: 'Roboto', sans-serif;

$scrollbarWidth: 5px;